::selection {
    @apply text-white bg-primary;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

strong {
    @apply text-primary;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: royalblue;
    text-decoration: none !important;
}

a:visited {
    @apply text-white;
}

a:hover,
a:focus,
a:active {
    color: midnightblue;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    @apply font-normal text-grey-700 font-nunito;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: rem(16px);
    line-height: 26px;
    hyphens: none;
    word-break: keep-all;
    word-wrap: normal;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        @apply mb-4 font-poppins font-bold text-grey-700;
        hyphens: none;
        letter-spacing: -0.02em;
        word-break: keep-all;
        word-wrap: normal;
        a {
            @apply text-light-3;

            &:hover {
                @apply text-primary;
            }
        }
    }
    h1,
    .h1 {
        font-size: 4rem;
        line-height: 2.4rem;
        @screen sm {
            font-size: 3rem;
            line-height: 3.6rem;
        }
    }
    h2,
    .h2 {
        font-size: 2.25rem;
        line-height: 2.9375rem;
    }
    h3,
    .h3 {
        font-size: 1.5rem;
        line-height: 1.8125rem;
    }
    h4,
    .h4 {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
    h5,
    .h5 {
        font-size: 1rem;
        line-height: 1.4375rem;
    }
    h6,
    .h6 {
        font-size: 0.875rem;
        line-height: 1.3125rem;
    }

    ul {
        li {
            @apply mb-4;
        }
    }

    .info {
        ul {
            li {
                @apply relative mb-4;
                padding-left: 12px;
                &:before {
                    @apply absolute left-0;
                    background-image: url("../img/list.png");
                    background-repeat: no-repeat;
                    background-size: 50% 50%;
                    content: "";
                    height: 8px;
                    top: 11px;
                    width: 8px;
                }
                li {
                    &:first-child {
                        margin-top: 20px;
                    }
                }
            }
        }
        a {
            @apply underline;
        }
    }
}

p {
    @apply mb-5;
    hyphens: none;
    word-break: keep-all;
    word-wrap: normal;
}

a {
    @apply text-primary;
    @mixin fade;
    &:hover {
        @apply text-secondary;
    }
}

input[type="text"],
select,
textarea {
    @apply font-normal text-light-1;
    border-radius: 9px;
    border: 1px solid theme(colors.primary.lighter);
    box-sizing: border-box;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
select {
    @apply appearance-none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */
    background: url("../img/arrow-select.svg") #fff no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("../img/arrow-select.svg") #fff no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}
/*For IE*/
select::-ms-expand {
    @apply hidden;
}

iframe {
    @apply w-full;
}

/* Content Editor */

.info {
    a {
        @apply font-bold underline;
        &.btn {
            @apply no-underline;
            font-weight: inherit;
        }
    }
}

/* Base Image WordPress */

img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}
img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}
img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}
a img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"],
select {
    @apply w-full py-4 appearance-none text-dark-3;
    border-radius: 10px;
    border: 3px solid #ebf2ff;
    box-sizing: border-box;
    &:focus {
        @apply outline-none;
    }
}

blockquote {
    @apply text-center text-primary bg-primary;
    border-radius: 10px;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 20px 40px;
    p {
        @apply mb-0 text-white;
    }
}

/*content page*/
.content__page {
    iframe {
        border-radius: 10px;
        height: 450px;
        margin-bottom: 2rem;
        width: 100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply mt-8 text-dark-1;
    }
}

/*--------------------------------------------------------------
## figure
--------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
    figure.alignleft,
    img.alignleft,
    figure.alignright,
    img.alignright {
        float: none;
        display: block;
        margin: 20px auto;
    }
}

.icon-social {
    .icons {
        @apply flex gap-x-4 mt-4;
        .icon-link {
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

footer {
    ul {
        li {
            a {
                @apply text-grey-200 text-overline hover:text-primary visited:bg-grey-200 !important;
            }
        }
    }

    .line {
        p {
            @apply text-white text-button text-center pt-4;
        }
    }
}

header {
    @apply relative;

    &:after {
        @apply hidden lg:block;
        background-image: url("data:image/svg+xml,%3Csvg width='194' height='181' viewBox='0 0 194 181' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.84908 1.21105C2.36257 1.21105 1.15747 2.47191 1.15747 4.02717C1.15747 5.58243 2.36257 6.8432 3.84908 6.8432C5.3356 6.8432 6.54065 5.58243 6.54065 4.02717C6.54065 2.47191 5.3356 1.21105 3.84908 1.21105Z' fill='%23E4E7EC'/%3E%3Cpath d='M3.84912 28.8316C1.72332 28.8316 9.53674e-06 30.6346 9.53674e-06 32.8587C9.53674e-06 35.0828 1.72332 36.8857 3.84912 36.8857C5.97491 36.8857 7.69818 35.0828 7.69818 32.8587C7.69818 30.6346 5.97491 28.8316 3.84912 28.8316Z' fill='%23E4E7EC'/%3E%3Cpath d='M3.84908 58.8597C2.36257 58.8597 1.15747 60.1205 1.15747 61.6757C1.15747 63.231 2.36257 64.4918 3.84908 64.4918C5.3356 64.4918 6.54065 63.231 6.54065 61.6757C6.54065 60.1205 5.3356 58.8597 3.84908 58.8597Z' fill='%23E4E7EC'/%3E%3Cpath d='M3.84912 86.4803C1.72332 86.4803 9.53674e-06 88.2832 9.53674e-06 90.5073C9.53674e-06 92.7314 1.72332 94.5344 3.84912 94.5344C5.97491 94.5344 7.69818 92.7314 7.69818 90.5073C7.69818 88.2832 5.97491 86.4803 3.84912 86.4803Z' fill='%23E4E7EC'/%3E%3Cpath d='M3.84908 116.508C2.36257 116.508 1.15747 117.769 1.15747 119.324C1.15747 120.88 2.36257 122.14 3.84908 122.14C5.3356 122.14 6.54065 120.88 6.54065 119.324C6.54065 117.769 5.3356 116.508 3.84908 116.508Z' fill='%23E4E7EC'/%3E%3Cpath d='M3.84912 144.129C1.72332 144.129 9.53674e-06 145.932 9.53674e-06 148.156C9.53674e-06 150.38 1.72332 152.183 3.84912 152.183C5.97491 152.183 7.69818 150.38 7.69818 148.156C7.69818 145.932 5.97491 144.129 3.84912 144.129Z' fill='%23E4E7EC'/%3E%3Cpath d='M3.84908 174.157C2.36257 174.157 1.15747 175.418 1.15747 176.973C1.15747 178.528 2.36257 179.789 3.84908 179.789C5.3356 179.789 6.54065 178.528 6.54065 176.973C6.54065 175.418 5.3356 174.157 3.84908 174.157Z' fill='%23E4E7EC'/%3E%3Cpath d='M28.2686 2.86102e-05C26.1428 2.86102e-05 24.4195 1.80303 24.4195 4.02713C24.4195 6.25123 26.1428 8.05414 28.2686 8.05414C30.3944 8.05414 32.1177 6.25123 32.1177 4.02713C32.1177 1.80303 30.3944 2.86102e-05 28.2686 2.86102e-05Z' fill='%23E4E7EC'/%3E%3Cpath d='M28.2685 30.0426C26.7819 30.0426 25.5769 31.3035 25.5769 32.8587C25.5769 34.414 26.7819 35.6747 28.2685 35.6747C29.755 35.6747 30.96 34.414 30.96 32.8587C30.96 31.3035 29.755 30.0426 28.2685 30.0426Z' fill='%23E4E7EC'/%3E%3Cpath d='M28.2686 57.6486C26.1428 57.6486 24.4195 59.4516 24.4195 61.6757C24.4195 63.8998 26.1428 65.7028 28.2686 65.7028C30.3944 65.7028 32.1177 63.8998 32.1177 61.6757C32.1177 59.4516 30.3944 57.6486 28.2686 57.6486Z' fill='%23E4E7EC'/%3E%3Cpath d='M28.2685 87.6913C26.7819 87.6913 25.5769 88.9521 25.5769 90.5073C25.5769 92.0626 26.7819 93.3234 28.2685 93.3234C29.755 93.3234 30.96 92.0626 30.96 90.5073C30.96 88.9521 29.755 87.6913 28.2685 87.6913Z' fill='%23E4E7EC'/%3E%3Cpath d='M28.2686 115.297C26.1428 115.297 24.4195 117.1 24.4195 119.324C24.4195 121.548 26.1428 123.351 28.2686 123.351C30.3944 123.351 32.1177 121.548 32.1177 119.324C32.1177 117.1 30.3944 115.297 28.2686 115.297Z' fill='%23E4E7EC'/%3E%3Cpath d='M28.2685 145.34C26.7819 145.34 25.5769 146.601 25.5769 148.156C25.5769 149.711 26.7819 150.972 28.2685 150.972C29.755 150.972 30.96 149.711 30.96 148.156C30.96 146.601 29.755 145.34 28.2685 145.34Z' fill='%23E4E7EC'/%3E%3Cpath d='M28.2686 172.946C26.1428 172.946 24.4195 174.749 24.4195 176.973C24.4195 179.197 26.1428 181 28.2686 181C30.3944 181 32.1177 179.197 32.1177 176.973C32.1177 174.749 30.3944 172.946 28.2686 172.946Z' fill='%23E4E7EC'/%3E%3Cpath d='M57.6387 1.21105C56.1522 1.21105 54.9471 2.47191 54.9471 4.02717C54.9471 5.58243 56.1522 6.8432 57.6387 6.8432C59.1252 6.8432 60.3303 5.58243 60.3303 4.02717C60.3303 2.47191 59.1252 1.21105 57.6387 1.21105Z' fill='%23E4E7EC'/%3E%3Cpath d='M57.6387 28.8316C55.5129 28.8316 53.7896 30.6346 53.7896 32.8587C53.7896 35.0828 55.5129 36.8857 57.6387 36.8857C59.7645 36.8857 61.4878 35.0828 61.4878 32.8587C61.4878 30.6346 59.7645 28.8316 57.6387 28.8316Z' fill='%23E4E7EC'/%3E%3Cpath d='M57.6387 58.8597C56.1522 58.8597 54.9471 60.1205 54.9471 61.6757C54.9471 63.231 56.1522 64.4918 57.6387 64.4918C59.1252 64.4918 60.3303 63.231 60.3303 61.6757C60.3303 60.1205 59.1252 58.8597 57.6387 58.8597Z' fill='%23E4E7EC'/%3E%3Cpath d='M57.6387 86.4803C55.5129 86.4803 53.7896 88.2832 53.7896 90.5073C53.7896 92.7314 55.5129 94.5344 57.6387 94.5344C59.7645 94.5344 61.4878 92.7314 61.4878 90.5073C61.4878 88.2832 59.7645 86.4803 57.6387 86.4803Z' fill='%23E4E7EC'/%3E%3Cpath d='M57.6387 116.508C56.1522 116.508 54.9471 117.769 54.9471 119.324C54.9471 120.88 56.1522 122.14 57.6387 122.14C59.1252 122.14 60.3303 120.88 60.3303 119.324C60.3303 117.769 59.1252 116.508 57.6387 116.508Z' fill='%23E4E7EC'/%3E%3Cpath d='M57.6387 144.129C55.5129 144.129 53.7896 145.932 53.7896 148.156C53.7896 150.38 55.5129 152.183 57.6387 152.183C59.7645 152.183 61.4878 150.38 61.4878 148.156C61.4878 145.932 59.7645 144.129 57.6387 144.129Z' fill='%23E4E7EC'/%3E%3Cpath d='M57.6387 174.157C56.1522 174.157 54.9471 175.418 54.9471 176.973C54.9471 178.528 56.1522 179.789 57.6387 179.789C59.1252 179.789 60.3303 178.528 60.3303 176.973C60.3303 175.418 59.1252 174.157 57.6387 174.157Z' fill='%23E4E7EC'/%3E%3Cpath d='M82.0581 2.86102e-05C79.9323 2.86102e-05 78.209 1.80303 78.209 4.02713C78.209 6.25123 79.9323 8.05414 82.0581 8.05414C84.1839 8.05414 85.9072 6.25123 85.9072 4.02713C85.9072 1.80303 84.1839 2.86102e-05 82.0581 2.86102e-05Z' fill='%23E4E7EC'/%3E%3Cpath d='M82.0583 30.0426C80.5717 30.0426 79.3667 31.3035 79.3667 32.8587C79.3667 34.414 80.5717 35.6747 82.0583 35.6747C83.5448 35.6747 84.7498 34.414 84.7498 32.8587C84.7498 31.3035 83.5448 30.0426 82.0583 30.0426Z' fill='%23E4E7EC'/%3E%3Cpath d='M82.0581 57.6486C79.9323 57.6486 78.209 59.4516 78.209 61.6757C78.209 63.8998 79.9323 65.7028 82.0581 65.7028C84.1839 65.7028 85.9072 63.8998 85.9072 61.6757C85.9072 59.4516 84.1839 57.6486 82.0581 57.6486Z' fill='%23E4E7EC'/%3E%3Cpath d='M82.0583 87.6913C80.5717 87.6913 79.3667 88.9521 79.3667 90.5073C79.3667 92.0626 80.5717 93.3234 82.0583 93.3234C83.5448 93.3234 84.7498 92.0626 84.7498 90.5073C84.7498 88.9521 83.5448 87.6913 82.0583 87.6913Z' fill='%23E4E7EC'/%3E%3Cpath d='M82.0581 115.297C79.9323 115.297 78.209 117.1 78.209 119.324C78.209 121.548 79.9323 123.351 82.0581 123.351C84.1839 123.351 85.9072 121.548 85.9072 119.324C85.9072 117.1 84.1839 115.297 82.0581 115.297Z' fill='%23E4E7EC'/%3E%3Cpath d='M82.0583 145.34C80.5717 145.34 79.3667 146.601 79.3667 148.156C79.3667 149.711 80.5717 150.972 82.0583 150.972C83.5448 150.972 84.7498 149.711 84.7498 148.156C84.7498 146.601 83.5448 145.34 82.0583 145.34Z' fill='%23E4E7EC'/%3E%3Cpath d='M82.0581 172.946C79.9323 172.946 78.209 174.749 78.209 176.973C78.209 179.197 79.9323 181 82.0581 181C84.1839 181 85.9072 179.197 85.9072 176.973C85.9072 174.749 84.1839 172.946 82.0581 172.946Z' fill='%23E4E7EC'/%3E%3Cpath d='M111.442 1.21105C109.956 1.21105 108.751 2.47191 108.751 4.02717C108.751 5.58243 109.956 6.8432 111.442 6.8432C112.929 6.8432 114.134 5.58243 114.134 4.02717C114.134 2.47191 112.929 1.21105 111.442 1.21105Z' fill='%23E4E7EC'/%3E%3Cpath d='M111.442 28.8316C109.317 28.8316 107.593 30.6346 107.593 32.8587C107.593 35.0828 109.317 36.8857 111.442 36.8857C113.568 36.8857 115.292 35.0828 115.292 32.8587C115.292 30.6346 113.568 28.8316 111.442 28.8316Z' fill='%23E4E7EC'/%3E%3Cpath d='M111.442 58.8597C109.956 58.8597 108.751 60.1205 108.751 61.6757C108.751 63.231 109.956 64.4918 111.442 64.4918C112.929 64.4918 114.134 63.231 114.134 61.6757C114.134 60.1205 112.929 58.8597 111.442 58.8597Z' fill='%23E4E7EC'/%3E%3Cpath d='M111.442 86.4803C109.317 86.4803 107.593 88.2832 107.593 90.5073C107.593 92.7314 109.317 94.5344 111.442 94.5344C113.568 94.5344 115.292 92.7314 115.292 90.5073C115.292 88.2832 113.568 86.4803 111.442 86.4803Z' fill='%23E4E7EC'/%3E%3Cpath d='M135.862 2.86102e-05C133.736 2.86102e-05 132.013 1.80303 132.013 4.02713C132.013 6.25123 133.736 8.05414 135.862 8.05414C137.988 8.05414 139.711 6.25123 139.711 4.02713C139.711 1.80303 137.988 2.86102e-05 135.862 2.86102e-05Z' fill='%23E4E7EC'/%3E%3Cpath d='M135.862 30.0426C134.375 30.0426 133.17 31.3035 133.17 32.8587C133.17 34.414 134.375 35.6747 135.862 35.6747C137.348 35.6747 138.553 34.414 138.553 32.8587C138.553 31.3035 137.348 30.0426 135.862 30.0426Z' fill='%23E4E7EC'/%3E%3Cpath d='M135.862 57.6486C133.736 57.6486 132.013 59.4516 132.013 61.6757C132.013 63.8998 133.736 65.7028 135.862 65.7028C137.988 65.7028 139.711 63.8998 139.711 61.6757C139.711 59.4516 137.988 57.6486 135.862 57.6486Z' fill='%23E4E7EC'/%3E%3Cpath d='M135.862 87.6913C134.375 87.6913 133.17 88.9521 133.17 90.5073C133.17 92.0626 134.375 93.3234 135.862 93.3234C137.348 93.3234 138.553 92.0626 138.553 90.5073C138.553 88.9521 137.348 87.6913 135.862 87.6913Z' fill='%23E4E7EC'/%3E%3Cpath d='M165.232 1.21105C163.746 1.21105 162.54 2.47191 162.54 4.02717C162.54 5.58243 163.746 6.8432 165.232 6.8432C166.719 6.8432 167.924 5.58243 167.924 4.02717C167.924 2.47191 166.719 1.21105 165.232 1.21105Z' fill='%23E4E7EC'/%3E%3Cpath d='M165.232 28.8316C163.106 28.8316 161.383 30.6346 161.383 32.8587C161.383 35.0828 163.106 36.8857 165.232 36.8857C167.358 36.8857 169.081 35.0828 169.081 32.8587C169.081 30.6346 167.358 28.8316 165.232 28.8316Z' fill='%23E4E7EC'/%3E%3Cpath d='M165.232 58.8597C163.746 58.8597 162.54 60.1205 162.54 61.6757C162.54 63.231 163.746 64.4918 165.232 64.4918C166.719 64.4918 167.924 63.231 167.924 61.6757C167.924 60.1205 166.719 58.8597 165.232 58.8597Z' fill='%23E4E7EC'/%3E%3Cpath d='M165.232 86.4803C163.106 86.4803 161.383 88.2832 161.383 90.5073C161.383 92.7314 163.106 94.5344 165.232 94.5344C167.358 94.5344 169.081 92.7314 169.081 90.5073C169.081 88.2832 167.358 86.4803 165.232 86.4803Z' fill='%23E4E7EC'/%3E%3Cpath d='M189.652 2.86102e-05C187.526 2.86102e-05 185.802 1.80303 185.802 4.02713C185.802 6.25123 187.526 8.05414 189.652 8.05414C191.777 8.05414 193.501 6.25123 193.501 4.02713C193.501 1.80303 191.777 2.86102e-05 189.652 2.86102e-05Z' fill='%23E4E7EC'/%3E%3Cpath d='M189.651 30.0426C188.165 30.0426 186.96 31.3035 186.96 32.8587C186.96 34.414 188.165 35.6747 189.651 35.6747C191.138 35.6747 192.343 34.414 192.343 32.8587C192.343 31.3035 191.138 30.0426 189.651 30.0426Z' fill='%23E4E7EC'/%3E%3Cpath d='M189.652 57.6486C187.526 57.6486 185.802 59.4516 185.802 61.6757C185.802 63.8998 187.526 65.7028 189.652 65.7028C191.777 65.7028 193.501 63.8998 193.501 61.6757C193.501 59.4516 191.777 57.6486 189.652 57.6486Z' fill='%23E4E7EC'/%3E%3Cpath d='M189.651 87.6913C188.165 87.6913 186.96 88.9521 186.96 90.5073C186.96 92.0626 188.165 93.3234 189.651 93.3234C191.138 93.3234 192.343 92.0626 192.343 90.5073C192.343 88.9521 191.138 87.6913 189.651 87.6913Z' fill='%23E4E7EC'/%3E%3C/svg%3E%0A");
        content: "";

        position: absolute;
        right: 0;
        bottom: 0;
        width: 120px;
        height: 100px;
        background-size: cover;
        transform: rotate(180deg);
        z-index: 2;
    }
}

.sitelogo {
    img {
        @apply w-1/3 h-1/3 md:w-1/6 md:h-1/6 lg:w-1/3 lg:h-1/3;
    }
}

.site__nav {
    @apply relative;
    z-index: 1;
    a {
        @apply font-bold hover:text-primary hover:no-underline duration-300 transition-all ease-in-out !important;
    }
}

.menu-item-has-children {
    @apply relative   pr-6;

    &:after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99251 9.12088C7.89424 9.12208 7.79681 9.1027 7.70649 9.06399C7.61616 9.02527 7.53493 8.96809 7.46803 8.8961L0.724775 2.15285C0.425075 1.85315 0.425075 1.38861 0.724775 1.08891C1.02448 0.789211 1.48901 0.789211 1.78871 1.08891L8.00749 7.30769L14.2113 1.1039C14.511 0.804196 14.9755 0.804196 15.2752 1.1039C15.5749 1.4036 15.5749 1.86813 15.2752 2.16783L8.53197 8.91109C8.38212 9.06094 8.18731 9.13586 8.00749 9.13586L7.99251 9.12088Z' fill='%23670067'/%3E%3C/svg%3E%0A");
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 9px;
        right: 0;
        top: 10px;
        cursor: pointer;
    }

    &:hover {
        .sub-menu {
            @apply flex flex-wrap justify-start gap-4;
        }
    }

    .sub-menu {
        @apply absolute hidden bg-grey-50 w-[300px] h-auto px-8 lg:p-6 left-0 ml-2 shadow;
        z-index: 1;

        li {
            @apply ml-0 !important;

            list-style: none;
        }
    }
}
